.logo {
    width: 100px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
}
.logo-container {
    display:flex;
    flex-direction:row;
    align-items: center;
    background-color:rgb(62, 62, 205);
    color: white;
}
body {
    font-family: Arial, sans-serif;
}
.search-container {
    margin: 20px;
}
.search-bar {
width: 100%;
padding: 10px;
margin-bottom: 10px;
box-sizing: border-box;
    align-items: center;
    display:flex;

}
.webname {
    color:white;
}

.navbar {
    display:flex;
    flex-direction:row;
    align-items:center;
    background-color:rgb(62, 62, 205);
    color: white;
    justify-content: space-between;
    margin-bottom: 50px;
}

.btn {
    border-color: rgb(255, 255, 255);
    border-width: 0.8px;
    background-color: transparent;
    color: white;
    margin: 10px;
}
.btn:hover {
    opacity:50%;
}
.country-title {
    display: flex;
    flex-direction: row;
    align-self: center;
}
.country-flag {
    display: flex;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -5px;
    margin-bottom: 10px;
    align-items: center;
}
.mapimage {
    z-index: 1;
    width:1000px;
    align-content:center;
    justify-content: center;
}
.germany {
    z-index: 2;
    position:absolute;
    width:50%;
}

.mapimage {
    z-index: 1;
    width:100%;
}
.mapcon {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
.germany {
    z-index: 2;
    position:absolute;
    width:150px;
    left:550px;
    top:640px;
}
.germany:hover {
    top:650px;
    filter:drop-shadow(10px 10px 10px rgb(66, 66, 66));
}
.search-n-btns {
    display: flex;
    flex-direction: row;
}
.btn-submit {
    border-color: rgb(255, 255, 255);
    border-width: 0.8px;
    background-color: rgb(62, 62, 205);
    color: white;
    margin: 10px;
}